<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.junwei.hello</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/caffeinate</string>
      <string>-i</string>
      <string>/Users/z411392/pmset-lab/.venv/bin/python</string>
      <string>/Users/z411392/pmset-lab/src/main.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>2</integer>
      <key>Minute</key>
      <integer>0</integer>
      <key>Tolerance</key>
      <integer>10</integer>
    </dict>
    <key>RunAtLoad</key>
    <false />
  </dict>
</plist>